tqdm
matplotlib
scikit-learn
PyYAML
ftfy
regex
gdown
tensorboard
scikit-image
cssutils
pandas
wandb
opencv-python
pycocotools
onnxruntime
onnx
numba
hausdorff
numpy
svgwrite
svgpathtools
torch-tools
visdom
